<!DOCTYPE html>
<html lang="ko" id="html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiClass</title>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-seo-dream.css?after?after">
    <link rel="stylesheet" href="/static/assets/css/home.css?after">
    <link rel="stylesheet" href="/static/assets/css/makeroom.css">
    <link rel="stylesheet" href="/static/assets/css/enterroom.css?after">
    <link rel="stylesheet" href="/static/assets/css/classDetail-t.css">
    <link rel="stylesheet" href="/static/assets/css/list.css?after?after?after">
    <link rel="stylesheet" href="/static/assets/css/animated.css">
    <link rel="stylesheet" href="/static/assets/css/classList.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/static/assets/css/owl.css">
</head>
<body>
  <div class="king" id="king">
    <!-- ***** Header Area Start ***** -->
    <div class="animate__animated animate__fadeInDown animate__delay-0.8s">
      <header class="header-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="/home" class="logo">
                    <h4>HiClass <img src="/static/assets/images/teacher (1).png" alt="" class="auto_logo"><span class="teachers_text">Teachers</span></h4>
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                    <li class="scroll-to-section"><a href="/home">Home</a></li>
                    <li class="scroll-to-section"><a href="/home/myclass/teacher">My Class</a></li>
                    <li class="scroll-to-section"><a href="/logout">Logout</a></li>
                    <li class="scroll-to-section"></li>
                  </ul>
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
                </nav>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!-- ***** Header Area End ***** -->
    <div class="main">
        <div class="inner">
            <div class="img-menu">
                <div><img src="/static/assets/images/bell (1).png" alt="" onclick="location.href='/home/myclass/teacher/{{room_pk}}'"></div>
                <div><img src="/static/assets/images/speech-bubble (1).png" alt="" onclick="location.href='/home/myclass/teacher/quiz'"></div>
                <div><img src="/static/assets/images/bar-graph.png" alt="" onclick="location.href='/home/myclass/teacher/analytics'"></div>
            </div>
            <div class="list-wapper" id="list-wapper" name="list-wapper" >
              <div class="list-wapper-text">
                <span class="animate__animated animate__rubberBand" id="list-wapper-text">{{room_name}} 수업 집중도 그래프</span>
              </div>
              {% if page.object_list %}
                {% for Analytics in page.object_list %}
                  {% if Analytics.list == 1 %}
                    <div class="analytics-list">
                      <span class="analyticsList-username">{{Analytics.username}}</span>
                      <img src="/static/assets/images/gold-medal.png" alt="" class="analyticsList-img">
                      <div class="over"><span class="list-sub-text-anal">앱 차단: </span><span class="list-main-text">{{Analytics.app}}점</span><br><span class="list-sub-text">자리 이탈: </span><span class="list-main-text">{{Analytics.person}}점</span></div>
                      <div class="under"><span class="list-sub-text">퀴즈: </span><span class="list-main-text">{{Analytics.time}}분</span><br><span class="list-sub-text">날짜: </span><span class="list-main-text-date">{{Analytics.make_date|date:'Y년 n월 j일 G:i'}}</span></div>
                      <button onclick="location.href='/home/myclass/student/analytics/{{Analytics.pk}}'">그래프 보기</button>
                    </div>    
                  {% elif Analytics.list == 2 %}
                    <div class="analytics-list">
                      <span class="analyticsList-username">{{Analytics.username}}</span>
                      <img src="/static/assets/images/silver-medal.png" alt="" class="analyticsList-img">
                      <div class="over"><span class="list-sub-text-anal">앱 차단: </span><span class="list-main-text">{{Analytics.app}}점</span><br><span class="list-sub-text">자리 이탈: </span><span class="list-main-text">{{Analytics.person}}점</span></div>
                      <div class="under"><span class="list-sub-text">퀴즈: </span><span class="list-main-text">{{Analytics.time}}분</span><br><span class="list-sub-text">날짜: </span><span class="list-main-text-date">{{Analytics.make_date|date:'Y년 n월 j일 G:i'}}</span></div>
                      <button onclick="location.href='/home/myclass/student/analytics/{{Analytics.pk}}'">그래프 보기</button>
                    </div>
                  {% elif Analytics.list == 3 %}
                    <div class="analytics-list">
                      <span class="analyticsList-username">{{Analytics.username}}</span>
                      <img src="/static/assets/images/bronze-medal.png" alt="" class="analyticsList-img">
                      <div class="over"><span class="list-sub-text-anal">앱 차단: </span><span class="list-main-text">{{Analytics.app}}점</span><br><span class="list-sub-text">자리 이탈: </span><span class="list-main-text">{{Analytics.person}}점</span></div>
                      <div class="under"><span class="list-sub-text">퀴즈: </span><span class="list-main-text">{{Analytics.time}}분</span><br><span class="list-sub-text">날짜: </span><span class="list-main-text-date">{{Analytics.make_date|date:'Y년 n월 j일 G:i'}}</span></div>
                      <button onclick="location.href='/home/myclass/student/analytics/{{Analytics.pk}}'">그래프 보기</button>
                    </div>
                  {%endif%}
                {% endfor%}
                <div class="list-wapper-border"></div>
              {% else %}
                <div id="noroom" class="animate__animated animate__rubberBand animate__delay-0.8s">
                    <span>생성한 집중도 자료가 없습니다!</span>
                    <img src="/static/assets/images/embarrassed.png" alt="">
                </div>
              {%endif%}
            </div>
        </div>
    </div>
</div>

</body>
</html>