<!DOCTYPE html>
<html lang="ko" id="html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiClass</title>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-seo-dream.css?after?after">
    <link rel="stylesheet" href="/static/assets/css/home.css?after">
    <link rel="stylesheet" href="/static/assets/css/makeroom.css">
    <link rel="stylesheet" href="/static/assets/css/enterroom.css?after">
    <link rel="stylesheet" href="/static/assets/css/classDetail-t.css">
    <link rel="stylesheet" href="/static/assets/css/list.css">
    <link rel="stylesheet" href="/static/assets/css/animated.css">
    <link rel="stylesheet" href="/static/assets/css/classList.css">
    <link rel="stylesheet" href="/static/assets/css/notice.css?after">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/static/assets/css/owl.css">
</head>
<body>
  <div class="king" id="king">
    <!-- ***** Header Area Start ***** -->
    <div class="animate__animated animate__fadeInDown animate__delay-0.8s">
      <header class="header-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="/home" class="logo">
                    <h4>HiClass <img src="/static/assets/images/student.png" alt="" class="auto_logo"><span class="teachers_text">Students</span></h4>
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                    <li class="scroll-to-section"><a href="/home">Home</a></li>
                    <li class="scroll-to-section"><a href="/home/myclass/student">My Class</a></li>
                    <li class="scroll-to-section"><a href="/logout">Logout</a></li>
                    <li class="scroll-to-section"></li>
                  </ul>
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
                </nav>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!-- ***** Header Area End ***** -->
    <div class="main">
        <div class="inner">
            <div class="noticeList-wapper">
                <img src="/static/assets/images/previous.png" alt="" class="back" id="back-noticeDetail" onclick="location.href='/home/myclass/student/{{enrol_pk}}'" >
              <div class="img-menu">
                  <div><img src="/static/assets/images/bell.png" alt="" onclick="location.href='/home/myclass/student/{{enrol_pk}}'"></div>
                  <div><img src="/static/assets/images/speech-bubble (1).png" alt=""  onclick="location.href='/home/myclass/student/quiz'"></div>
                  <div><img src="/static/assets/images/bar-graph (1).png" alt=""  onclick="location.href='/home/myclass/student/analytics'"></div>
              </div>
              <div class="forborder">
                  <div class="list-wapper-text">
                    <span class="animate__animated animate__rubberBand" id="list-wapper-textt">{{room_name}} 공지사항</span>
                  </div>
              </div>
              <div class="notice-detail">
                  <div class="detail-title">
                    <span >제목:</span> <span class="detail-title-main">&nbsp;{{title}}</span>
                  </div>
                  <div class="detail-writername">
                    <span>작성자:</span> <span class="detail-name-main">&nbsp;{{writername}}</span>
                  </div>
                  <div class="detail-date">
                    <span>작성일:</span> <span class="detail-date-main">&nbsp;{{date}}</span>
                  </div>
                  <div class="detail-description">
                    <div class="detail-content">{{description}}</div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>