{%extends 'base.html'%}
{% block content%}
<div class="enter_exam1">
    <span class="animate__animated animate__rubberBand" id="enter1-text">{{room_maker}}님의 class로 입장 준비!</span>
    <div class="app-lottie">
        <lottie-player src="/static/assets/images/app.json" background="transparent" style="width: 400px; height: 300px;" speed="0.8" loop autoplay>
        </lottie-player>
    </div>
    <div class="explain">HiClass App에서 어플리케이션 차단을 완료해 주세요!</div>
    <div class="animate__animated animate__shakeX animate__delay-1s" id="check">
        <span class="check">{{check}}</span>
    </div>
    <form action="" method="POST" class="form-next">
        {% csrf_token %}
        <button class="next">Next</button>
    </form>
</div>
{% endblock%}