{%extends 'base.html'%}
{% block content%}
<div class="enter_exam1">
    <span class="animate__animated animate__rubberBand" id="enter-teacher-text">{{room_maker}}님의 Class로 입장!</span>
    <div class="progress-icon-teacher">
        <lottie-player src="/static/assets/images/online-class.json" background="transparent" style="width: 400px; height: 300px;" speed="0.5" loop autoplay>
        </lottie-player>
    </div>
    <div class="teacher-explain">입장 준비가 성공적으로 완료 되었습니다.</div>
    <div class="animate__animated animate__shakeX animate__delay-1s" id="check">
        <span class="check">{{check}}</span>
    </div>
    <form action="" method="POST" class="teacher-form-next">
        {% csrf_token %}
        <button class="teacher-next" value="toSsimong" id="enterRoom" name="enterRoom">Enter Room</button>
    </form>
</div>
{% endblock%}