{%extends 'base.html'%}
{% block content%}
<div class="roomout">
    <div id="roomout-text1" class="animate__animated animate__rubberBand animate__delay-0.8s">
        <span>{{maker}}님의 Room에서 나왔습니다!</span>
    </div>
    <div class="roomout-text2">
        <span><span style="color:#4771cb;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp AutoWatch 앱</span> 의 우측 상단에서<br> Exit 버튼을 눌러 앱 차단을 해제 해주세요.</span>
    </div>
    <div class="animate__animated animate__shakeX animate__delay-1s" id="check">
        <span class="check">{{check}}</span>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="roomout-btn">
            <button class="toAnalytics">Next</button>
        </div>
    </form>
</div>
{% endblock%}