<!DOCTYPE html>
<html lang="ko" id="html">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiClass</title>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-seo-dream.css?after">
    <link rel="stylesheet" href="/static/assets/css/home.css?after?after">
    <link rel="stylesheet" href="/static/assets/css/makeroom.css">
    <link rel="stylesheet" href="/static/assets/css/enterroom.css?after?after?after?after?after?after?after?after">
    <link rel="stylesheet" href="/static/assets/css/list.css">
    <link rel="stylesheet" href="/static/assets/css/animated.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel='stylesheet' type="text/css" media="all" href="{% static 'assets/css/home.css' %}"/>
    <link rel="stylesheet" href="/static/assets/css/owl.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/hiclass-img.png">
</head>
<body>
  <div class="king" id="king">
    <!-- ***** Header Area Start ***** -->
    <div class="animate__animated animate__fadeInDown animate__delay-0.8s">
      <header class="header-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="/home" class="logo">
                    <h4>HiClass <img src="/static/assets/images/student.png" alt="" class="auto_logo"><span class="teachers_text">Students</span></h4>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                    <li class="scroll-to-section"><a href="/main">Home</a></li>
                    <li class="scroll-to-section"><a href="/main/list">My List</a></li>
                    <li class="scroll-to-section"><a href="/logout">Logout</a></li>
                    <li class="scroll-to-section"><div class="main-blue-button"><a id="nav_mypage2" name="nav_mypage2">{{username}}님 안녕하세요.</a></div></li>
                  </ul>
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
                </nav>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="main">
      <div class="inner">
        <div class="solve_quiz">
          <span class="animate__animated animate__rubberBand" id="quiz-text">오늘의 학습 확인 Quiz</span>
          <div class="quiz-subtitle"><span style="margin-left: 600px; font-size: 15px;">{{room_maker}} 선생님이 생성한 문제 입니다.</span></div>
          <div class="quiz_content" style="margin-top: 30px;">
              <div class="id" id="id" value="{{id}}" style="display: none;">{{id}}</div>
              <div class="question">Q. {{question}}</div>
              <div class= "radio_button">
                  <div>
                  <input class="radio_content" id= "radio1" type="radio" name="quiz" id="us" value=1>
                  <label> &nbsp 1.&nbsp&nbsp{{item1}}</label>
                  </div>
                  <div>
                  <input class="radio_content" id= "radio2" type="radio" name="quiz" id="kr" value=2>
                  <label> &nbsp 2.&nbsp&nbsp{{item2}}</label>
                  </div>
                  <div>
                  <input class="radio_content" id= "radio3" type="radio" name="quiz" id="ch" value=3>
                  <label> &nbsp 3.&nbsp&nbsp{{item3}}</label>
                  </div>
                  <div>
                  <input class="radio_content" id= "radio4" type="radio" name="quiz" id="ch" value=4>
                  <label> &nbsp 4.&nbsp&nbsp{{item4}}</label>
                  </div>
              </div>
              {% comment %} <form action ="quiz" method="GET" class="form-next" enctype="multipart/form-data">
                  {% csrf_token %} {% endcomment %}
                  <button class="next" onclick="btn_next_check_answer()">Next</button>
              {% comment %} </form> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="animate__animated animate__slideInRight" id="mypage">
      <div class="mypage-inner">
        <img src="/static/assets/images/cancel.png" alt="" class="cancel" id="cancel" name="cancel">
        <span class="my_text">My Page</span>
        {% if img_check == 0 %}
          <img src="/static/assets/images/face-recognition.png" alt="" id="user-img">
        {% elif img_check == 1%}
          <img src="{{userimg}}" alt="" id="user-img">
        {%endif%}
        <div class="user-email">
          <img src="/static/assets/images/email.png" alt="" class="info"><span class="main-span">Email: </span><span class="sub-span">{{email}}</span>
        </div>
        <div class="user-name">
          <img src="/static/assets/images/user.png" alt="" class="info"><span class="main-span">Name: </span><span class="sub-span">{{username}}</span>
        </div>
        <div class="user-register">
          <img src="/static/assets/images/schedule.png" alt="" class="info"><span class="main-span">Date: </span><span class="sub-span">{{register}}</span>
        </div>
        <div class="modal-text">
           <span>이미지 변경은 Home 화면에서 가능합니다!</span>
        </div>
      </div>
    </div>
  
  
  
  <script>
    //모달 이벤트
    let my = document.getElementById('mypage'); // my page
    let btn2 = document.getElementById('nav_mypage2'); // 상단바의 두번째 my page 버튼
    let king = document.getElementById('king'); // background 설정
    btn2.addEventListener('click', function () {
    my.style.display = 'flex';
    king.style.opacity = '0.5';
    king.style.pointerEvents = 'none';
    })
    let exit = document.getElementById('cancel');
    exit.addEventListener('click', function () {
    king.style.opacity = '1';
    king.style.pointerEvents = 'all';
    my.style.display = 'none';
    })
  </script>

  <div id="correct_lotties" style="position:absolute; top: calc(50vh - 112.5px); left: calc(50vw - 150px); display:none">
    <lottie-player src="/static/assets/images/correct.json" background="transparent" style="width: 300px; height: 225px;" speed="1.5" loop autoplay>
    </lottie-player>
  </div>
  <div id="incorrect_lotties" style="position:absolute; top: calc(50vh - 112.5px); left: calc(50vw - 150px); display:none">
    <lottie-player src="/static/assets/images/incorrect.json" background="transparent" style="width: 300px; height: 225px;" speed="1.5" loop autoplay>
    </lottie-player>
  </div>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    let correct_lotties = document.getElementById('correct_lotties')
    let incorrect_lotties = document.getElementById('incorrect_lotties')

    var count_retry=0;

    function btn_next_check_answer(){

        var id = document.getElementById("id")
        var radio_btn = document.getElementsByName("quiz");
        var check;
        var radio_btn_check = 0;

        console.log(id.innerHTML)
        for(var i = 0; i<radio_btn.length; i++){
            //만약 라디오 버튼이 체크가 되어있다면 true
            if(radio_btn[i].checked==true){
                //라디오 버튼 값
                check=i;
                //라디오 버튼이 체크되면 radio_btn_check를 1로 만들어준다.
                radio_btn_check++;
            }
        }
        if ( check == null ) {
            alert('정답을 선택해 주세요.');
            return;
        }
        $.ajax({                       
            type: 'POST',
            url: '/home/classout/student/teacherquiz',
            data: { 'check' : radio_btn[check].value,
                    'id' : id.innerHTML },
            success: function (data){
                if (data['result'] == "yes"){
                    setTimeout(function(){
                      correct_lotties.style.display='flex'
                    },0)
                    setTimeout(function(){
                      correct_lotties.style.display='none'
                      window.location.href = '/home/classout/student/analytics/'+count_retry
                    },1800)
                    //alert("정답입니다!");
                }else if (data['result'] == "no"){
                    setTimeout(function(){
                      incorrect_lotties.style.display='flex'
                    },0)
                    setTimeout(function(){
                      incorrect_lotties.style.display='none'
                      count_retry ++;
                      console.log(count_retry);
                      if(count_retry==3){
                        alert('정답은 ' + data['answer']+'번입니다.');
                        window.location.href = '/home/classout/student/analytics/'+count_retry
                      }
                    },1800)
                }
                return;
            }
        })
    }
</script>
</body>
</html>