.img-menu{
    display: block;
    position: absolute;
    margin-right: 50px;
    top: 110px;
    left: -140px;
}
.img-menu img{
    width: 80px;
    height: 80px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.img-menu img:hover{
    transform: scale(1.2);
}