.makeroom{
    width: 100%;
    height: 100%;
    padding: 30px;
}
.back{
    width: 42px;
    height: 42px;
    cursor: pointer;
    display: inline;
}
.back:hover{
    content: url(/static/assets/images/previous\ \(1\).png);
}
.makeroom #main-text{
    font-size: 25px;
    color:  #f8c018;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.makeroom form{
    padding: 0 0 0 50px;
    width: 100%;
    height: 80%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.make-input .label-2{
    font-size: large;
    font-weight: 600;
    margin-left: 150px;
    margin-bottom: 5px;
}
.label-1{
    font-size: large;
    font-weight: 600;
    margin-left: 190px;
    margin-bottom: 5px;
}
.room-name{
    margin-top: 40px;
    margin-left: 10px;
    width: 300px;
    height: 35px;
    background-color: #f1f3f5;
    border: 3px solid #adb5bd;
    text-align: center;
}
.room-name:hover{
    border: 3px solid #f59f00;
}
.room-password{
    margin-left: 14px;
    border: none;
    margin-top: 40px;
    width: 300px;
    height: 35px;
    background-color: #f1f3f5;
    border-bottom: 3px solid #adb5bd;
    font-size: large;
    text-align: center;
}
.makeroom form .input-password{
    margin-left: 19px;
}

.makeroom input:focus{
    outline: none;
    border-color: #f59f00;
}
.makeroom input::placeholder{  
    opacity: 0.5;
}
.makeroom input:focus::placeholder{  /*  클릭시 text 없어짐 */
    color: transparent;
}

.mode{
    font-size: large;
    font-weight: 600;
    margin-left: 100px;
    margin-top: 60px;
}
.checkbox{
    font-size: 30px;
}
input[type="checkbox"]{
   margin-left: 20px; 
   width: 30px;
   height: 30px;
   position: relative;
   top: 4px;
}
#file{
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: large;
    width: 290px;
    height: 33px;
}
.file-js a{
    margin-top: 46px;
    width: 175px;
    height: 25px;
    border-bottom: 1px solid #0d6efd;
}

button.creat{
    margin-top: 50px;
    margin-left: 320px;
    width: 180px;
    height: 50px;
    background-color: #f59f00;
    font-weight: 400;
    font-size: large;
    color: #fff;
    margin-top: 40px;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    border-bottom: 3px solid #e67700!important;
    transition: all .3s;
}
button.creat:hover{
    background-color: #e67700;
    border-bottom: 3px solid #f59f00!important;
}
#error1-animation, #error2-animation, #error3-animation, #error4-animation{
    display: inline-block;
}
#error{
    color: red;
    opacity: 0.7;
    margin-left: 15px;
}

.file_error_text{
    margin-left: 320px;
    color: red;
    opacity: 0.7;
 
}

/* make_success STRAT */
.success{
    width: 100%;
    height: 100%;
    padding: 30px;
}
.success #success-main-text{
    margin-top: 20px;
    font-size: 30px;
    color: #f8c018;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
/* .rn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.r2{
    margin-right: 30px;
}
.r3{
    margin-bottom: 40px;
} */
.rn,.rm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 30px;
}
.rm{
    margin-left: 40px;
}
.success img{
    width: 64px;
    height: 64px;
}
.success #mode-img{
    margin-bottom: 5px;
}
.success .img-background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    width: 84px;
    height: 84px;
    background-color: rgb(229, 229, 229);
    border-radius: 50%;
}

.sub-text1,.sub-text2,.sub-text3,.sub-text4{
    font-size: large;
    color:#868e96;
    margin-left: 20px;
}
.main-text1,.main-text2,.main-text3{
    font-size: 25px;
    color:#212529;
    font-weight: 650;
    margin-left: 10px
}
.main-text4{
    font-size: 20px;
    color:#212529;
    font-weight: 650;
    margin-left: 10px
}
.main-text1{
    margin-right: 100px;
}
.main-text2{
    margin-right: 50px;
    margin-left:20px;
}
.main-text3{
    margin-right: 100px;
}

.sub-text3{
    margin-right: 100px;
}
.section1{
    margin-right: 90px;
}
.section2{
    margin-right: 30px;
}
.section3{
    margin-right: 50px;
}

.success input{
    margin-left: 190px;
    width: 220px;
    height: 60px;
    display: inline-block;
    background-color: #e67700;
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    border-bottom: 3px solid #f59f00!important;
    transition: all .3s;
}
.success input:hover{
    background-color: #f59f00;
    border-bottom: 3px solid #e67700!important;
}
.success button{
    margin-left: 100px;
    width: 220px;
    height: 60px;
    display: inline-block;
    background-color: #f59f00;
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    border-bottom: 3px solid #e67700!important;
    transition: all 1s;
}
.success button:hover{
    background-color: #e67700;
    border-bottom: 3px solid #f59f00!important;
    transform: scale(1.2);
}

.success .move-home{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
/* make_success END */

