::-webkit-scrollbar-thumb{
    background: #37b24d;
}
::-webkit-scrollbar-thumb:hover{
    background: #2f9e44;
}

.makenotice{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.title{
    text-align: center;
}
.title{
    margin: 30px 0 30px 0;
}

.title input{
    width: 700px;
    height: 40px;
    background-color: #e9ecef;
    border: 1px solid gray;
    margin-left: 10px;
    padding: 0 10px 0 px;
}
.title input:focus{
    border: 2px solid black;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
}

.description textarea{
    width: 700px;
    height:350px;
    background-color: #e9ecef;
    border: 1px solid gray;
    overflow-y: scroll;
}

.descriptionLabel{
    margin-bottom: 330px;
    margin-right: 10px;
}

.description textarea:focus{
    border: 2px solid black;
}
.makenotice-btns{
    margin-top: 10px;
}
.makenotice-btns button{
    width: 55px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid black;
}
.save-btn{
    margin-left: 500px;
}
.cancel-btn{
    margin-left: 0px;
}
.reset-btn{
    margin-left: 160px;
}
.save-btn:hover{
    background-color: #b2f2bb;
}
.cancel-btn:hover{
    background-color: #ffc9c9;
}
.reset-btn:hover{
    background-color: #ffd8a8;
}


.noticeList-wapper{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.noticeList-caption{
    background-color: #8B8B8B;
    padding: 10px;
    color: white;
    border-bottom: 1px solid black;
    border-radius: 5px;
    font-size: 17px;
}

.noticeList{
    width: 100%;
    padding: 10px;
    font-size: 17px;
}
.noticeList span{
    display: inline-block;
}
.noticeList-caption span{
    display: inline-block;
}
.noticeList:hover{
    cursor: pointer;
    background-color: #495057;
    color: white;
}
.noticeList:nth-child(2n):hover{
    background-color: #495057;
    color: white;
}
.noticeList:nth-child(2n){
    background-color: #dee2e6;
}
.num{
    width: 8%;
    text-align: center;
}
.title-text{
    width: 72%;
}
.date-text{
    width: 20%;
}
#title-text{
    text-align: center;
}
#date-text{
    text-align: center;
}

/* START classDetail-Detail */
.notice-detail{
    width: 100%;
    font-size: 20px;
}
.detail-title{
    box-shadow: 0 0 50% black;
    margin: 30px 0 10px 250px;
}
.detail-date{
    margin-left: 250px;
    margin-bottom: 30px;
}

.detail-title-main{
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}
.detail-writername{
    margin-left: 250px;
    margin-bottom: 10px;
}
.detail-name-main{
    margin-left: 20px;
}
.detail-date-main{
    margin-left: 20px;
}
.detail-description{
    border-top: 1px solid black;
}
.detail-content{
    padding: 50px 80px 50px 80px;
}

#back-noticeDetail{
    position: absolute;
    left: 20px;
    top: 10px;
}
.forborder{
    border-bottom: 1px solid #868e96;
}
#list-wapper-textt{
    text-align: center;
    color: #37b24d;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0 20px 0;
}
/* END classDetail-Detail */